<h1>Tutors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= link_to tutor.firstname + ' ' + tutor.lastname, tutor %></td>
        <td><%= tutor.phone %></td>
        <td><%= tutor.location %></td>
        <td><%= tutor.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

